


<section class="header">
   <nav class="navbar navabr-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand">Pawjama Party</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapseNavbarid"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
<div class="icons">
          <li class="nav-item">
            <span class="material-symbols-outlined">
              <a class="nav-link" routerLink="home">Home</a>
              <span class="visually-hidden">(current)</span>
              </span>
              <p>Home</p>
          </li>
          </div> 
          <div class="icons">
          <li class="nav-item">
            <span class="material-symbols-outlined">
              <a class="nav-link" routerLink="pettype">Pets</a>
              </span>
              <p>Type</p>
          </li>
          </div>

          <div class="icons">
          <li class="nav-item">
            <span class="material-symbols-outlined">
              <a class="nav-link" routerLink="petneeds">diversity_4</a>
              </span>
              <p>Needs</p>
          </li>
          </div>
          
          <div class="icons">
          <li class="nav-item">
            <span class="material-symbols-outlined">
              <a class="nav-link" routerLink="pettraining">model_training</a>
              </span>
            <p>Training</p>
          </li>
          </div>

          <div class="icons">
          <li class="nav-item">
            <span class="material-symbols-outlined">
              <a class="nav-link" routerLink="medication">medical_services</a>
              </span>
              <p>Medication</p>
          </li>
          </div>
          <div class="icons">
          <li class="nav-item">
            <span class="material-symbols-outlined">
              <a class="nav-link" routerLink="knowyourpetmore">more</a>
              </span>
            <p>More</p>
          </li>
          </div>
          <div class="icons">
            <li class="nav-item">
              <span class="material-symbols-outlined">
                <a class="nav-link" routerLink="account">person_add</a>
                </span>
              <p>Account</p>
            </li>
            </div>
          <div class="icons">
          <li class="nav-item">
            <span class="material-symbols-outlined">
              <a class="nav-link" routerLink="order">shopping_cart_checkout</a>
              </span>
            <P>Products</P>
          </li>
          </div>
    </div>
  </nav>


</section>
<script>

   $(document).ready(function(){
      $("#selector").change(function(){
        $("body").toggleClass("bg-secondary");
        $("nav").toggleClass("navbar-dark bg-dark");
        $(".custom-control-label").toggleClass("text-white");
        $("h1").toggleClass("text-white");
        $("h5").toggleClass("text-white");
      });
   });
</script>







 