<body>
	<div class="jumbotron text-center ">
		<div class="align"></div>
		<br><br><br><br>
		<h2 class="display-4">What Type?</h2>
		<p class="lead"><b>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</b></p>
		<hr class="my-4">
		<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	  </div>
   <section id = "sec-1" class = "py-5 bg-grey">
	   <div class = "container my-3">
		   <div class = "row">
			   <div class = "col-md-4 text-center sec-1-item mb-5">
					<span class = "d-flex align-items-center justify-content-center mx-auto text-white mb-4 circle-icon">
						<i class = "far fa-heart fs-3"></i>
					</span>
					<p class = "lead fw-bold">Dog Training 101: How to Completely Train Your Dog</p>
					<p class = "fw-light mx-3 lh-lg">Dogs are pets that are mostly trained.Are you ready to start training your dog or puppy? Proper training and socialization are among your dog's basic needs. It's important to start training your dog as soon as possible to sit, stay, come, go to their crate, and to go potty outside. And believe it or not, it's something you can do yourself as a beginner.</p>
			   </div>
			   <div class = "col-md-4 text-center sec-1-item mb-5">
					<span class = "d-flex align-items-center justify-content-center mx-auto text-white mb-4 circle-icon">
						<i class = "far fa-flag fs-2"></i>
					</span>
					<p class = "lead fw-bold">House Training and Crate Training</p>
					<p class = "fw-light mx-3 lh-lg">Unless you plan to keep your dog outdoors—and few of us do because it's not recommended—you'll need to teach your dog where to eliminate. Therefore, house training (also called housebreaking or potty training) is one of the first things you need to work on with your dog. Crate training can be a very helpful part of the training process. This includes house training as well as many other areas of training:</p>
					<a href="https://www.thesprucepets.com/how-to-crate-train-your-dog-1118234" class="link-info">Crate Training Dogs and Puppies</a>
					<br><a href="https://www.thesprucepets.com/how-often-do-puppies-poop-2805076" class="link-info">How to House Train your Dog</a>
					<br><a href="https://www.thesprucepets.com/fixing-submissive-excitement-urination-1118271" class="link-info">Submissive/Excitement Urination in Dogs</a>
				</div>
				<div class = "col-md-4 text-center sec-1-item mb-5">
					<span class = "d-flex align-items-center justify-content-center mx-auto text-white mb-4 circle-icon">
						<i class = "far fa-star fs-2"></i>
					</span>
					<p class = "lead fw-bold">Leash Training Dogs and Puppies</p>
					<p class = "fw-light mx-3 lh-lg">Every dog needs to learn to walk on a leash. Besides the fact that most areas have leash laws, there will be times when keeping your dog on a leash is for his own safety. Learn how to introduce your dog or puppy to the leash, then teach him how to walk properly on the leash, even beside you on a bike. A loose leash walk teaches your dog not to pull or lunge when on ​the leash, making the experience more enjoyable for both you and your dog.</p>
				</div>
		   </div>
	   </div>
   </section>

   <section id = "sec-2" class = "py-5">
	   <div class = "container my-4">
		   <div class = "row gx-lg-5">
			   <div class = "col-lg-6 mb-5">
					<img src = "https://www.petbacker.com/blog/images/2022/dogs-are-social-animals.jpg" class = "img-fluid">
			   </div>
			   <div class = "col-lg-6">
				   <h3>How To Socialize Dogs and Puppies</h3>
				   <p class = "text-muted fw-light lh-lg my-4">Socialization means training your puppy or adult dog to accept new people, animals, and various places by exposing him to these things. Socialized dogs are less likely to develop behavior problems and are generally more welcomed by others. Socialization can also help prevent the development of fears and phobias.</p>
			   </div>
		   </div>
	   </div>
	</section>


   <section id = "sec-4" class = "py-5">
	<div class = "container my-4">
		<div class = "row gx-lg-5">
			<div class = "col-lg-6 mb-5">
				 <h3>Clicker Training for Dogs</h3>
				<p class = "text-muted fw-light lh-lg my-4"><a href="https://www.thesprucepets.com/clicker-training-for-dogs-1118267" class="link-info">Clicker training</a>,a common form of positive reinforcement, is a simple and effective dog training method. Although it is still fine to train your dog without clicker training, many people find it helpful. With clicker training, you can easily and effectively teach your dog all kinds of basic and advanced commands and tricks. It's fast and easy to learn how to clicker train your dog</p>
				<button type = "button" class = "btn btn-green mt-2">Read more</button>
			</div>
			<div class = "col-lg-6">
				<img src = "https://doglab.com/wp-content/uploads/hand-holding-clicker-in-front-of-white-fluffy-dog.jpg" class = "img-fluid">
			</div>
		</div>
	</div>
</section>
<section id = "sec-6" class = "py-5">
	<div class = "container my-4">
		<div class = "row mb-5">
			<div class = "col-12 text-center text-white">
				<h3 class = "mb-4">Basic Commands and Fun Tricks</h3>
				<p class = "lh-lg fw-light pt-2 w-75 mx-auto">There are some basic dog training commands and dog tricks that every dog should know like come, speak, drop it, stay, back up, etc. Basic commands give your dog structure. In addition, they can help you overcome common dog behavior problems and will help keep your dog safe.</p>
			</div>
		</div>
		<div class = "row text-uppercase text-center text-white">
			<div class = "col-md-6 col-lg-3 mb-5">
				<div class = "circle-icon bg-white text-green d-flex align-items-center justify-content-center mx-auto mb-4 fs-2 fw-bold">
					200+
				</div>
				<a href="https://www.thesprucepets.com/basic-dog-training-commands-1117311" class="link-light">Training commands</a>
			</div>

			<div class = "col-md-6 col-lg-3 mb-5">
				<div class = "circle-icon bg-white text-green d-flex align-items-center justify-content-center mx-auto mb-4 fs-2 fw-bold">
					50+
				</div>
				<a href="https://www.thesprucepets.com/basic-dog-training-commands-1117311" class="link-light">Dog Tricks</a>
			</div>

			<div class = "col-md-6 col-lg-3 mb-5">
				<div class = "circle-icon bg-white text-green d-flex align-items-center justify-content-center mx-auto mb-4 fs-2 fw-bold">
					90%
				</div>
				<a href="https://www.thesprucepets.com/teach-dog-emergency-recall-1118240" class="link-light">Come,</a>
				<a href="https://www.thesprucepets.com/train-your-dog-to-speak-1117307" class="link-light">speak,</a>
				<a href="https://www.thesprucepets.com/train-your-dog-to-release-1117304" class="link-light">drop it,</a>
				<a href="https://www.thesprucepets.com/how-to-train-a-dog-to-back-up-1117285" class="link-light">back up,</a>
				stay, etc.
			</div>

			<div class = "col-md-6 col-lg-3 mb-5">
				<div class = "circle-icon bg-white text-green d-flex align-items-center justify-content-center mx-auto mb-4 fs-2 fw-bold">
					9/10
				</div>
				<a href="https://www.thesprucepets.com/common-dog-behavior-problems-1118278">Common Dog Behavior Problems</a>
			</div>
		</div>
	</div>
</section>

<section id = "sec-7" class = "py-5">
	<div class = "container my-4">
		<div class = "row gx-md-5">
			<div class = "col-md-6 my-3">
				<div class = "card text-center">
					<img class = "card-img-top" src = "https://dogtrainingcraft.com/wp-content/uploads/2021/07/advance-dog-training-1-scaled.jpg">
					<div class = "card-body py-5">
						<h4 class = "card-title">Advanced Dog Training</h4>
						<p class = "card-text py-3 lh-lg text-muted fw-light">Once your dog has mastered all the basics, you can consider moving on to more advanced tricks. These activities will help keep your dog active, fit and mentally stimulated. Plus, they will help strengthen the bond you share with your canine companion.</p><br>
						<p class = "card-text py-3 lh-lg text-muted fw-light">Remember that training is an ongoing process. You will never be completely finished. It is important to keep working on obedience training throughout the life of your dog. People who learn a language at a young age but stop speaking that language may forget much of it as they grow older. The same goes for your dog: use it or lose it. Running through even the most basic tricks and commands will help them stay fresh in your dog's mind. Plus, it's a great way to spend time with your dog.</p>
					
					</div>
				</div>
			</div>

			<div class = "col-md-6 my-3">
				<div class = "card text-center">
					<img class = "card-img-top" src = "https://i0.wp.com/www.drjensdogblog.com/wp-content/uploads/2018/01/shutterstock_740843314.jpg?fit=1200%2C800&ssl=1">
					<div class = "card-body py-5">
						<h1 class = "card-title">FAQ</h1>
						<p class = "card-text py-3 lh-lg text-muted fw-light"><b>How do you train your dog to ignore other dogs?</b><br>While your dog should always be leashed when out, there are other ways to train them to be unbothered by other dogs while on walks. Keep a distance from other dogs while out and call your dog's name whenever they notice another dog, rewarding them with a treat. You can continue this process, gradually getting a little closer to dogs while encouraging your pup to ignore them and rewarding them with a treat.<br>
						<b>How do you train your dog not to run away?</b><br>Many experts believe that chasing a dog that is running away will only encourage it to run further because the dog thinks this is a game. Start training your dog to stay with you by slowly walking away from it, then calling its name and rewarding it with a treat when it comes to you. You can even add to this training by spending time with friends, having them call your dog, and giving it a treat when it comes to them.<br><b>How do you train your dog not to jump on people?</b><br>Start by asking your dog to "sit," and asking people not to approach. If your dog is approached and obeys this command, offer it a treat. Reinforcement is key!</p>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id = "sec-8" class = "py-5 bg-grey">
	<div class = "container my-4">
		<div class = "row">
			<div class = "col-12 text-center">
				<div class = "carousel-inner">
					<div class = "carousel-item active">
						<div class = "col-12 row mx-auto">
							<div class = "row text-center text-lg-start">
								<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt0KAcfIxUjwiUjRDgukn6XCPtdW7lq6tWxJ3cG8W1UyooKTm2tQ0WO5QzhK1QARRJa5o&usqp=CAU" class = "col-lg-3 mx-auto rounded-circle">
								<div class = "py-4 col-lg-9">
									<h6><b>Read next:</b></h6>
									<a routerLink="medication" class="link-info">Medication</a>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</section>

</body>