<div  class="container container-fluid-lg mx-auto p-3 background-dark m-3" *ngIf = "account">     
    <header class="fw-bolder p-1 fs-4"> Account Details of {{account.fname}} {{account.lname}}</header>
   <div class="row">
        <div class="col-6">
            <div class="form-floating mb-3">
                <img src="{{account.imgPath}}">
                <div class="form-group">
                    <input class="form-control" type="file" id="formFile">
                  </div>
            </div>
            </div>
        </div>
            <div class="row">
      <div class="col-2">
        <div class="form-floating mb-3">
          <input type="text"class="form-control background-dark" id="floatingCode"placeholder="Account ID"
                 [(ngModel)]="account.id"> <label for="floatingid">Account Id</label>
        </div>
        </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="form-floating mb-3"> 
          <input type="text" class="form-control" id="floatingCode"placeholder="fname"
                 [(ngModel)]="account.fname"><label for="floatingfname">First Name</label> 
        </div>
      </div>
      <div class="col-5">
        <div class="form-floating mb-3"> 
          <input type="text" class="form-control" id="floatingCode"placeholder="lname"
                 [(ngModel)]="account.lname"><label for="floatinglname">Last Name</label> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="form-floating mb-3">
          <input type="text"class="form-control"id="floatingCode" placeholder="Email"
                 [(ngModel)]="account.email"><label for="floatingemail">Email</label>
        </div>
        </div>
        <div class="col-5">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingCode" placeholder="Mobile"
                 [(ngModel)]="account.mobile"><label for="floatingmobile">Mobile</label>
        </div>
        </div>
        </div>
        <div class="row">
          <div class="col-5">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingCode" placeholder="Gender"
                 [(ngModel)]="account.gender"><label for="floatinggender">Gender</label>
        </div>
        </div>
        <div class="col-5">
        <div class="form-floating mb-3">
          <input type="text" class="form-control"id="floatingCode" placeholder="Marital Status"
                 [(ngModel)]="account.marital"><label for="floatingmarital">Marital Status</label>
        </div>
        </div>
        </div>
        <div class="col-10">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingCode" placeholder="Date of Birth"
                 [(ngModel)]="account.dateb"><label for="floatingdateb">Date of Birth</label>
        </div>    
      </div>
      <div class="row">
        <h2 for="floatingtin">Address</h2>
        <div class="col-4">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingCode" placeholder="Id"
                   [(ngModel)]="account.add.street"><label for="floatingtin">Street</label>
          </div> 
          </div>
          <div class="col-4">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingCode" placeholder="Id"
                   [(ngModel)]="account.add.apt"><label for="floatingtin">Apartment Number</label>
          </div> 
        </div>
        <div class="col-4">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingCode" placeholder="Id"
                   [(ngModel)]="account.add.barangay"><label for="floatingtin">Barangay</label>
          </div> 
        </div>
        <div class="col-4">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingCode" placeholder="Id"
                   [(ngModel)]="account.add.city"><label for="floatingtin">City</label>
          </div> 
        </div>
        <div class="col-4">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingCode" placeholder="Id"
                   [(ngModel)]="account.add.province"><label for="floatingtin">Province</label>
          </div> 
        </div>
        </div>


      <div class="modal-footer">
        <button type="button"  class="btn btn-dark"   (click)="save()" >Save changes</button>
        <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
      </div>
  </div>
  
    
  
          
    