<body>
<footer class=" text-white pt-5 pb-4">
    <div class="container text-center tet-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Pawjama Party</h5>
                <p>text</p>
            </div>
            <!--Services-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Services</h5>
                <p>
                    <a  routerLink="pettraining" class="text-whte" style="text-decoration: none;">Pet Training</a>
                </p>
                <p>
                    <a routerLink="petneeds" class="text-whte" style="text-decoration: none;">Pet Needs</a>
                </p>
                <p>
                    <a routerLink="products" class="text-whte" style="text-decoration: none;">Products</a>
                </p>
                <p>
                    <a routerLink="" class="text-whte" style="text-decoration: none;">Pet Medication</a>
                </p>
                <p>
                    <a routerLink="" class="text-whte" style="text-decoration: none;">Pet Training</a>
                </p>
            </div>
            <!--Sites-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Helpful sites</h5>
                <p>
                    <a routerLink="pettraining" class="text-whte" style="text-decoration: none;">Pet Training</a>
                </p>
                <p>
                    <a routerLink="petneeds" class="text-whte" style="text-decoration: none;">Pet Needs</a>
                </p>
                <p>
                    <a routerLink="products" class="text-whte" style="text-decoration: none;">Products</a>
                </p>
                <p>
                    <a routerLink="" class="text-whte" style="text-decoration: none;">Pet Medication</a>
                </p>
                <p>
                    <a routerLink="" class="text-whte" style="text-decoration: none;">Pet Training</a>
                </p>
            </div>
            <!--Contact Us-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact Us</h5>
                <p>
                    <i class="fas fa-home mr-3">Pinewood st. Crystal Cave</i>
                </p>
                <p>
                    <i class="fas mr-3">Baguio City</i>
                </p>
                <p>
                    <i class="fas fa-envelope mr-3">Pawjama_party@gmail.com</i>
                </p>
                <p>
                    <i class="fas fa-phone mr-3">+63 9395974636</i>
                </p>
            </div>
            <hr class="mb-4">
            <div class="col-md-7 col-lg-8">
                <p>Copyright 2020 All rights reserved by:
                    <strong>Pawjama Party</strong>
                </p>

            </div>
        </div>
    </div>
</footer>
</body>