img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    align-content: center;
    align-self: center;
  }

  h3{
    color:black;
    font-size: 75px;
    text-align: center;
  }
  .card{
    width: 20rem;
  }
 button{
  margin-right: 16px;
 }
